[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "==21.4.0"
certifi = "==2021.10.8"
charset-normalizer = "==2.0.12"
idna = "==3.3"
iniconfig = "==1.1.1"
lxml = "==4.8.0"
pdfkit = "==1.0.0"
pluggy = "==1.0.0"
py = "==1.11.0"
pyparsing = "==3.0.8"
pytest = "==7.1.2"
python-dateutil = "==2.8.2"
python-pdf = "==0.39"
six = "==1.16.0"
tomli = "==2.0.1"
urllib3 = "==1.26.9"

[dev-packages]

[requires]
python_version = "3.9"
